div.mainWrap {
  background-image: url(../img/bg_1.jpg);
  background-position: top;
  background-size: 200%;
  background-repeat: no-repeat;
}

div.mainWrap main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
}

div.mainWrap main .leftText {
  width: 100%;
  margin-top: 130px;
}

div.mainWrap main .leftText h3 {
  font-size: 24px;
  line-height: 40px;
}

div.mainWrap main .leftText h4 span {
  font-size: 18px;
  color: #74a2ee;
}

div.mainWrap main .rightText {
  width: 100%;
  position: static;
  bottom: 80px;
  right: 0;
  padding: 20px;
}

div.mainWrap main .rightText h4 {
  color: #74a2ee;
  font-size: 18px;
}

div.mainWrap main .rightText h4 span {
  display: none;
}

div.mainWrap main .rightText p {
  padding-left: 0px;
}

div.swot section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0;
}

div.swot section article {
  width: calc(100% - 20px);
  margin: 0 auto;
}

div.swot section article:nth-of-type(1) ~ article {
  margin-top: 40px;
}

div.banner section {
  border-radius: 20px;
  background-image: url(../img/texture-1504364_1920.jpg);
  background-size: cover;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.banner section h4 {
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  margin-top: 20px;
}

div.banner section h4 span {
  font-size: 36px;
  color: #fff;
  font-weight: 500;
}

div.banner section h4 span:nth-of-type(2) {
  text-shadow: 1px -1px 1px #fff, 1px 1px 1px #fff, 0 0 10px, 0 0 10px #00c2fa, 0 0 10px #00c2fa, 0 0 10px #00c2fa, 0 0 10px #00c2fa;
}

div.banner section h4 span:nth-of-type(1) {
  text-shadow: 1px -1px 1px #fff, 1px 1px 1px #fff, 0 0 10px, 0 0 10px #ee34ff, 0 0 10px #ee34ff, 0 0 10px #ee34ff, 0 0 10px #ee34ff;
}

div.banner section p {
  text-align: center;
  font-size: 36px;
  line-height: 60px;
}

div.banner section p span {
  font-family: 'Neoneon';
  font-size: 48px;
  text-shadow: hoff voff blur #000;
}

div.banner section p span:nth-of-type(1) {
  color: #00c2fa;
  text-shadow: 1px -1px 1px #fff, 1px 1px 1px #fff, 0 0 10px, 0 0 10px #00c2fa, 0 0 10px #00c2fa, 0 0 10px #00c2fa, 0 0 10px #00c2fa;
}

div.banner section p span:nth-of-type(2) {
  color: #fff;
  text-shadow: 1px -1px 1px #fff, 1px 1px 1px #fff, 0 0 10px, 0 0 10px #d5dee0, 0 0 10px #d5dee0, 0 0 10px #d5dee0, 0 0 10px #d5dee0;
}

div.banner section p span:nth-of-type(3) {
  color: #ff00de;
  text-shadow: 1px -1px 1px #fff, 1px 1px 1px #fff, 0 0 10px, 0 0 10px #ee34ff, 0 0 10px #ee34ff, 0 0 10px #ee34ff, 0 0 10px #ee34ff;
}

div.myskill section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.myskill section .skillProgress {
  width: calc(100% - 20px);
}

div.myskill section .skillProgress header {
  width: 100%;
}

div.myskill section .skillProgress header h3 {
  width: 70%;
}

div.myskill section .skillProgress .artGroup {
  margin-top: 40px;
}

div.myskill section .skillProgress .artGroup article {
  margin-top: 80px;
}

div.myskill section .skillProgress .artGroup article:nth-of-type(1) {
  margin-top: 0;
}

div.myskill section .skillProgress .artGroup article ul {
  width: 100%;
  background-color: #fff;
  border-radius: 7px;
  overflow: hidden;
}

div.myskill section .skillProgress .artGroup article ul li {
  width: 0%;
  height: 15px;
  background-color: #00c2fa;
  border-radius: 4px;
}

div.myskill section .myImg {
  width: calc(100% - 20px);
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
}

div.myskill section .myImg .image {
  height: 420px;
  background-color: #ccc;
  background-image: url(../img/about_skill_i2.jpg);
  background-size: cover;
}

div.myskill section .myImg .texts {
  color: #000;
  font-size: 16px;
  border: 0;
  padding: 0px;
  width: 90%;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

div.myskill section .myImg .texts p {
  text-shadow: 3px 3px 5px #000;
  color: #fff;
}

div.like section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.like section .artGroup {
  width: calc(100% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.like section .artGroup article {
  width: calc(50% - 10px);
  height: 140px;
  background-color: #999;
  border-radius: 10px;
  position: relative;
}

div.like section .artGroup article .image {
  height: 100%;
}

div.like section .artGroup article .texts {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}

div.like section article {
  width: calc(100% - 20px);
  background-color: #999;
  height: 140px;
  border-radius: 10px;
  position: relative;
}

div.like section article .image {
  height: 100%;
}

div.like section article .texts {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.like section .image {
  background-size: cover;
  background-position: center;
}

div.like section .i1 {
  background-image: url(../img/about_like_i1.jpg);
}

div.like section .i2 {
  background-image: url(../img/about_like_i2.jpg);
}

div.like section .i3 {
  background-image: url(../img/about.like_i3.JPG);
}

div.like section .i4 {
  background-image: url(../img/about_like_i4.jpg);
}

div.like section .i5 {
  background-image: url(../img/about_like_i5.jpg);
}

div.like section .i6 {
  background-image: url(../img/about_liki_i6.jpg);
}

div.like .mt20 {
  margin-top: 20px;
}

div.ftrWrap {
  background-image: url(../img/personal_main_bgImg.jpg);
  background-position: bottom;
}

div.ftrWrap footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.ftrWrap footer .btn {
  line-height: 40px;
  width: 160px;
  height: 40px;
  text-align: center;
  font-family: 'Neoneon';
  text-transform: uppercase;
  font-size: 18px;
  background-color: #07175f;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px #fff, 0 0 10px, 0 0 10px #facb0e, 0 0 10px #facb0e, 0 0 10px #facb0e, 0 0 10px #facb0e;
          box-shadow: 1px 1px 1px #fff, 0 0 10px, 0 0 10px #facb0e, 0 0 10px #facb0e, 0 0 10px #facb0e, 0 0 10px #facb0e;
  color: #fff;
  margin: 0 10px;
}

div.ftrWrap footer .btn:hover {
  color: #facb0e;
}
/*# sourceMappingURL=about_mx420.css.map */