div.mainWrap main .leftText h3{
    font-size: 36px;
}
div.swot {

    section {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 0;

        article {
            width: calc(50% - 20px);
            &:nth-of-type(2) ~ article{
                margin-top: 40px;
            }
        }
    }
}
div.myskill {
    section {
        .myImg {
            .image {
                height: 680px;
                background-position: center;
            }
        }
    }
}
div.like {
    section {
        .artGroup {
            article {
                height: 240px;
            }
        }
        article {
            height: 240px;
        }
    }
}