div.ct01{
    height: 800px;
    section{
        justify-content: space-around;
        align-items: center;
        .rightImg{
            width: calc(50% - 20px);
            .image{
                height: 100px;
                &:hover{
                    width: calc(33.33% - 10px);
                    height: 110px;
                    margin-left: 10px;
                }
            }
        }
    }
}
div.ct02 section .texts{
    padding-top: 80px;
}
div.ct02 section .image{
    height: 460px;
}
div.ct03{
    height: 600px;
}
div.ct04 section .image{
    height: 460px;
}