
body {
    position: relative;
    
}

div.hdrWrap {
    header {
        display: flex;
        justify-content: space-between;

        h1{}

        nav {
            // display: none;
        }
    }
}

div.mainWrap {
    height: calc(100vh - 160px);

    main {
        position: relative;
        height: 100%;

        .mnView {
            width: 50%;
            height: 600px;
            overflow: hidden;
            margin: auto;
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            .imgGroup {
                .image {
                    height: 600px;
                    background-color: transparent;
                    
                    // background-color: #ccc;/
                    background-size: cover;
                    background-position: center;
                }
               .i1{
                    background-repeat: no-repeat;
                    background-size:auto;
                    text-align: center;
                    .myNeon{
                        height: 90%;
                        
                        // filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5)); 
                        
                        path{
                            fill:none;stroke:#00c2fa;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
                        }
                    } 
                    
               } 
               .i2{
                background-image: url(../img/index_main_i2.png);
                background-size: cover;
               } 
               .i3{
                background-image: url(../img/index_about2.png);
               } 
               .i4{
                background-image: url(../img/index_port.png);
               } 
               .i5{
                background-image: url(../img/index_exp.png);
               } 
            }
        }

        .textView {
            width: 70%;
            height: 160px;
            overflow: hidden;
            margin: auto;
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;

            .textGroup {
                h3 {
                    font-family: 'Neoneon';
                    line-height: 160px;
                    font-size: 7.5rem;
                    text-align: center;
                    color: #f374ff;
                    
                    text-shadow:
                    1px -1px 1px #fff,
                    1px 1px 1px #fff,
                    0 0 10px,
                    0 0 10px #ee34ff,
                    0 0 10px #ee34ff,
                    0 0 10px #ee34ff,
                    0 0 10px #ee34ff;
                    &.fliker{
                        animation: flicker 2.5s 1;
                    }
                }
            
            }
        }
        @keyframes flicker {
    
            11%, 40%, 51%, 70%,85%, 91%,100% {
              
                text-shadow:
                1px -1px 1px #fff,
                1px 1px 1px #fff,
                0 0 10px,
                0 0 10px #ee34ff,
                0 0 10px #ee34ff,
                0 0 10px #ee34ff,
                0 0 10px #ee34ff; 
            }
            
            0%, 1%, 2%, 3%, 4%, 5%,6%,7%,8%,9%,10%,
            42%,43%,44%,
            54%, 80%,86%,87%,88%,89%, 90% {        
                text-shadow: none;
            }    
        }







        .nav{
            width: 200px;
            position: absolute;
            margin: auto;
            height: 320px;
            top: 0;
            bottom: 0;
            right: 0;
            .asideContainer {
                height: 320px;
                position: relative;

                .pageGroup {
                    width: 100%;
                    display: flex;
                    height: 240px;
                    position: absolute;
                    top: 40px;
                    right: 0;

                    .pageNameView {
                        width: 70%;
                        // outline: 1px solid red;
                        height: 80px;
                        overflow: hidden;

                        .pageNameGroup {
                            li {
                                line-height: 80px;
                                text-align: right;
                            }
                        }
                    }

                    .pageNumView {
                        width: 30%;
                        // outline: 1px solid palegoldenrod;
                        height: 240px;
                        overflow: hidden;

                        .pageNumGroup {
                            li {
                                font-size: 12px;
                                line-height: 80px;
                                text-align: center;
                                font-weight: 500;
                                color: #999999;
                            }

                            .selected {
                                font-size: 16px;
                                font-weight: 700;
                                color: #fff;
                            }
                        }
                    }
                }

                .btns {
                    width: 30%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: absolute;
                    top: 0;
                    right: 0;

                    button {
                        display: block;
                        background-color: transparent;
                        border: 0;
                        width: 40px;
                        height: 40px;
                        margin: 0 auto;
                        font-size: 24px;
                        color: #fff;
                    }
                }
            }

        }
    }
}

div.ftrWrap {
    padding: 0;
    background-color: transparent;
    footer {
        .hrGroup {
            display: flex;
            justify-content: flex-end;

            hr {
                width: 60px;
                height: 4px;
                background-color: #6dcff6;
                display: block;
                margin-top: 20px;
                margin-right: 10px;
                justify-content: center;
            }

            p {
                line-height: 40px;
                font-family: 'Krona One';
            }
        }

        .ulGroup {
            color: #999;
            display: flex;
            justify-content: space-between;

            .rightUl {
                li:hover{
                    color:#fff;
                }
            }

            .leftUl {
                display: flex;

                li {
                    margin-left: 10px;
                }
                li:hover{
                    color:#fff;
                }
            }
        }
    }
}