
div.mainWrap {
    main {
        .mnView {
            height: 400px;
            .imgGroup {
                .image {
                    height: 400px;
                }
            }
        }

        .textView {
            .textGroup {
                h3 {
                    font-size: 5rem;
  
                    
                   
                }
            }
        }
    }
}
