div.mainWrap {
    main {
        article {
           
            .image {
                height: 420px;
            }
        }
    }
}
div.partic {
    section {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        article {
            width: calc(50% - 20px);
            &:nth-of-type(2)~ article{
                margin-top: 40px;
            }
        }
       
    }
}
div.keyword {   
    section {
        article {
            h4{
                width: 160px;
            }
    
        }
    }
}