


/* content / ct main image */
div.ctMnImg section article{
    height: 360px;
}
div.ctMnImg section .texts{
    width: 80%;
    padding: 40px;
    margin-top: -60px;
}

/* content acton */
div.acton section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div.acton section .mnImgGroup .image{
    width: 20%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div.acton section .texts .thumImg .thumImgGroup .image{
    width: calc(100% / 5 - 20px); 
    height: 80px;
}


/* content ct03*/
div.ct03 article .image{
    height: 360px;
}