div.mnWrap{
    background-image: none;
}

div.mnWrap main header .btnGroup{
    display: flex;
    justify-content: space-around;
}
div.mnWrap main header h3{
    font-size: 30px;
}
div.ct1 section article{
    display: block;   
}
div.ct1 section article:nth-of-type(2){
    display: flex;
    flex-direction: column-reverse;
    margin-top: 80px;
}
div.ct1 section article .texts{
    width: 100%;
    padding: 0 20px;
}
div.ct1 section article:nth-of-type(1) .texts{
    text-align: left;
    padding-right: 20px;
}
div.ct1 section article figure{
    width: 100%;
    margin-top: 20px;
}
div.bestProduct section{
    margin-top: 80px;
}
div.bestProduct section article{
    display: block;
    position: static;
    height: auto;
}
div.bestProduct section article figure{
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 240px; 
    border: 0;
    position: static;
}
div.bestProduct section article .texts{
    width: 100%;
}


div.cnpPublic section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.cnpPublic section article{
    width: 100%;
    height: 300px;
}
div.cnpPublic section article:nth-of-type(1)~article{
    margin-top: 40px;
}



div.review section article{
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    margin-top: 40px;
}
div.review section article:nth-of-type(1){
    margin-top: 0;
}
div.review section article figure{
    width: 100%; 
    height: 200px;
}
div.review section article .texts{
    width: 100%;
}
div.review section article figure button{
    right: -20px;
}
div.ftrWrap footer{
    display: block;
}
div.ftrWrap footer .sns{
    width: 100%;
    padding-top: 0;
}















