div.mnWrap{}
div.mnWrap main{
    text-align: center;
}
div.mnWrap main header{}
/* banner 1 */
div.b1{
    background-image: url(../img/sub1_banner_i1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    height: 520px;
    display: flex;
    align-items: center;
}
div.b1 section{}
div.b1 section .texts{
    margin-right: 10px;
    text-shadow: 3px 3px 6px #000;
}
div.b1 section .texts p{
    width: 400px;
}

/* content 1 */
div.ct1{}
div.ct1 section{}
div.ct1 section article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
div.ct1 section article:nth-of-type(1){
    margin-top: 0;
}
div.ct1 section article:nth-of-type(2n){
    flex-direction: row-reverse;
}
div.ct1 section article .texts{
    width: 50%;   
}
div.ct1 section article:nth-of-type(2n) .texts{
    padding-left: 80px;
}
div.ct1 section article .texts p{
    margin-top: 20px;
    width: 270px;
}
div.ct1 section article figure{
    width: calc(50% - 80px);
    height: 480px;
}
div.ct1 section article .i1{
    background-image: url(../img/sub1_content1_i1.jpg);
    background-size: cover;
    background-position: 100%;
}
div.ct1 section article .i2{
     background-image: url(../img/sub1_content1_i2.jpg);
    background-size: cover;
    background-position: 100%;
}
div.ct1 section article .i3{
     background-image: url(../img/sub1_content1_i3.jpg);
    background-size: cover;
    background-position: 100%;
}
div.ct1 section article .i4{
     background-image: url(../img/sub1_content1_i4.jpg);
    background-size: cover;
    background-position: 100%;
}


/* banner 2*/
div.b2{
    position: relative;
    background-image: url(../img/sub1_banner2_i1.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
}

div.b2 section{
    position: absolute;
    height: 180px;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
}
div.b2 section .texts{
    text-align: center;
    color: #000;
}
div.banner .btn {
    margin: 0 auto;
    margin-top: 40px;
}























